<!DOCTYPE html>
<html>
  <head>
    <title>AjaxPostingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'common/navbar'%>
    <br>
    <div class="container">
      <%= link_to "jQuery 练习一", jquery_first_path %> |
      <%= link_to "jQuery 练习二", jquery_2_path %> |
      <%= link_to "jQuery 练习三", jquery_3_path %> |
      <%= link_to "jQuery 练习四", jquery_4_path %> |
      <%= link_to "jQuery 练习五", jquery_5_path %>

      <%= yield %>
    </div>
  </body>
</html>
